<%- include('layout/header') %>
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-4 text-primary mb-4">Bienvenido a la Gestión de Artículos</h1>
            <p class="lead mb-4">Aquí puedes gestionar los artículos de tu inventario. Agrega, edita y elimina artículos fácilmente.</p>
            <a href="/add" class="btn btn-primary btn-lg">Ir a agregar articulos</a>
        </div>
    </div>
<%- include('layout/fooder') %>